@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: yellow;
  font-family: 'Rubik Microbe', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: #000;
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: yellow;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid yellow;
  cursor: pointer;
}

.start-button:hover {
  color: greenyellow;
  font-size: 18px;
  border-color: greenyellow;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

/* Default color of pad unless hover or activated */
.pad-red {
  border-top-left-radius: 200px;
  background-color: red;
}

/* When hovered but not inactive, the color darkens, and pad rotates slightly */
.pad-red:hover:not(.inactive),
.pad-red:focus:not(.inactive) {
  background-color: #ac0303;
  transform: rotate(-5deg);
}

/* When pad is active (clicked) or computer activates, it changes to  a lighter color and the pad moves downward */
.pad-red:active,
.pad-red.activated {
  background-color: #f69697;
  transform: translateY(10px);
}
/* When hovering over an active pad, the lighter color is maintained */
.pad-red:active:hover,
.pad-red.activated:hover {
  background-color: #f69697;
  transform: none;
}



.pad-green {
  border-top-right-radius: 200px;
  background-color: #0BC507;
}

.pad-green:hover,
.pad-green:focus {
  background-color: ##2e6f40;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #adebb3;
  transform: translateY(10px);
}

.pad-green:active:hover,
.pad-green.activated:hover {
  background-color: #adebb3;
  transform: none;
}



.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: yellow;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #e0bc00;
  transform: rotate(5deg);
}

.pad-yellow:active:hover,
.pad-yellow.activated:hover {
  background-color: #FFEA00;
  transform: none;
}
.pad-yellow:active,
.pad-yellow.activated {
  background-color: #FFEA00;
  transform: translateY(10px);
}



/* Default color of pad unless hover or activated*/
.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: blue;
}

/* When hovered but not inactive, the color darkens, and pad rotates slightly */
.pad-blue:hover:not(.inactive),
.pad-blue:focus:not(.inactive) {
  background-color: #00008a;
  transform: rotate(-5deg);
}
.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}


.pad-blue:active:hover,
.pad-blue.activated:hover {
  background-color: #2bbcff;
  transform: none;
}


.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}

.no-hover .pad-red:hover,
.no-hover .pad-green:hover,
.no-hover .pad-yellow:hover,
.no-hover .pad-blue:hover {
  transform: none;
}






